.textarea-box {
  margin-left: 0.5rem;
  width: 100%;

  button {
    padding: 0.25rem 0.5rem;
    border: 1px solid #52c8b4;
    border-radius: 3px;
    background-color: #52c8b4;
    color: #ffffff;
    cursor: pointer;
  }
  textarea {
    padding: 0.25rem;
    width: 100%;
    font-size: 0.75rem;
    line-height: 0.75rem;
    resize: none;
    margin-bottom: 1rem;
  }
}

.container {
  display: flex;
  justify-content: space-between;
}



.col {
  display: flex;
  flex-flow: column;
}

